body {
    margin: 0;
    padding: 0;
}

.topbar {
    width: 100%;
    background-color: #007ac3;
}

#img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}

.todaysproblem h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.todaysproblem p {
    padding: 0px 25px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

#img-2 {
    width: 92%;
    margin: 0% 4%;
}

.thesolution h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin-top: 160px;
    text-align: center;
}

.thesolution p {
    padding: 0px 25px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 26px;
}

#para-1 {
    margin-bottom: 20px;
}

#img-3 {
    width: 92%;
    margin: 0% 4%;
}

#para-2 {
    margin-top: 20px;
}

.makers {
    margin-top: 70px;
}

.makers p {
    padding: 0px 25px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 26px;
}

#f-para-3 {
    margin-top: 70px;
    text-align: center;
}

@media only screen and (min-width: 730px) {
    .todaysproblem h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 52px;
        line-height: 30px;
        text-align: left;
        margin-left: 80px;
    }
    
    .todaysproblem p {
        padding: 0px 80px 0px 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
    }
    
    #img-2 {
        width: 80%;
        margin: 0% 10%;
    }
    
    .thesolution h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 52px;
        line-height: 30px;
        margin-top: 250px;
        text-align: left;
        margin-left: 80px;
    }
    
    .thesolution p {
        padding: 0px 80px 20px 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
    }
    
    #para-1 {
        margin-bottom: 20px;
    }
    
    #img-3 {
        width: 80%;
        margin: 0% 10%;
    }
    
    #para-2 {
        margin-top: 30px;
    }
    
    .makers {
        margin-top: 150px;
    }
    
    .makers p {
        padding: 0px 80px 0px 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 26px;
    }
    
    #f-para-3 {
        margin-top: 150px;
        text-align: center;
    }
}

@media only screen and (min-width: 1030px) {
    .todaysproblem {
        width: 50%;
        float: left;
        margin-top: 10%;
        margin-bottom: 24%;
    }

    .todaysproblem h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 52px;
        line-height: 30px;
        text-align: left;
    }

    .todaysproblem p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
    }

    #img-2 {
        width: 40%;
        margin: 0% 5% 15% 5%;
        float: right;
    }

    .thesolution h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 52px;
        line-height: 30px;
        margin-top: 2%;
        text-align: left;
        margin-left: 80px;
    }   

    .thesolution p {
        padding-left: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
    }

    #para-1 {
        margin-bottom: 0px;
        float: left;
        width: 45%;
    }

    #img-3 {
        width: 40%;
        margin: 0% 3%;
        float: right;
    }

    #para-2 {
        margin-top: 0px;
        float: left;
        width: 45%;
    }

    .makers {
        margin-top: 70%;
        
    }

    .makers p {
        padding: 0px 80px 0px 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 26px;
    }

    #f-para-3 {
        margin-top: 150px;
        text-align: center;
    }
}

@media only screen and (min-width: 2000px) {
    .todaysproblem {
        width: 50%;
        float: left;
        margin-top: 10%;
        margin-bottom: 24%;
    }

    .todaysproblem h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 52px;
        line-height: 30px;
        text-align: left;
    }

    .todaysproblem p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
    }

    #img-2 {
        width: 40%;
        margin: 0% 5% 15% 5%;
        float: right;
    }

    h2 {
        padding-top: 60%;
    }

    .thesolution h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 52px;
        line-height: 30px;
        margin-top: 2%;
        text-align: left;
    }   

    .thesolution p {
        padding-left: 2.7%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
    }

    #para-1 {
        margin-bottom: 0px;
        float: left;
        width: 48%;
    }

    #img-3 {
        width: 40%;
        margin: 0% 3%;
        float: right;
    }

    #para-2 {
        margin-top: 0px;
        float: left;
        width: 48%;
    }

    .makers {
        margin-top: 50%;
        
    }

    .makers p {
        padding: 0px 80px 0px 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 26px;
    }

    #f-para-3 {
        margin-top: 150px;
        text-align: center;
    }
}

